@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'poppins', sans-serif;
}

#background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-size: cover;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    filter: blur(5px);
}

#main_temp {
    text-align: right;
    font-size: larger;
}

#texto-box {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 9%;
    margin-bottom: 1%;
    margin-top: 2%;
    font-size: 13px;
    margin-left: 40%;
}

.collapsible {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 1%;
    width: 90%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #ffffff00;
}

.content {
    font-size: 65%;
    padding: 0 30px;
    display: none;
    overflow: hidden;
    color: white;
    background-color: rgba(0, 0, 0, 0.71);
    border-radius: 16px;
    height: 50%;
    width: 100%;
    position: absolute;
    max-width: 89.4%;
    border-radius: 0px 0px 16px 16px;
}



#main_tempmax {
    display: inline;
    float: left;
    text-align: left;
    padding-right: 10px;
    font-size: 20px;
    margin-top: 2%;
    color: rgba(164, 239, 239, 0.975);
    width: 10%;
}

#main_tempmin {
    display: inline;
    float: left;
    text-align: left;
    font-size: 20px;
    margin-top: 2%;
    padding-left: 5%;
    width: 10%;
}

#img_temp {
    display: flex;
    float: left;
    margin-top: 5%;
    height: 0%;
    width: 21%;
}

#main_temp {
    font-size: 50px;
    font-weight: bold;
}

#img_button {
    align-items: center;
    max-height: 5.5%;
    max-width: 5.5%;
    margin-bottom: -1%;
    transform: rotate(deg);
    margin-top: 2%;
}

#more_button {
    width: fit-content;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    width: 90%;
    box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.566);
    margin-top: 2%;
    margin-left: 5%;
}

#next,
#previous {
    background-color: transparent;
    border-color: transparent;
    font-size: 95px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 32vw;
    margin-top: -1%;
}

#search-div {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#main_text {
    max-width: 100vw;
    font-size: 300%;
    margin: unset;
    margin-top: 3%;
    margin-left: 3%;
}

#search {
    display: flex;
    width: 35vw;
    border-radius: 20px;
    border-color: black;
    text-align: center;
    font-size: large;
}

#main_box {
    color: white;
    border-radius: 16px;
    height: 100%;
    width: 37%;
    background-color: rgba(0, 0, 0, 0.71);
    margin: auto;
    position: relative;
}

.container-slide::-webkit-scrollbar,
#slider::-webkit-scrollbar {
    display: none;
}

#slider {
    display: grid;
    grid-auto-flow: column;
    gap: 5%;
    overflow-x: scroll;
    overscroll-behavior-inline: auto;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 10px;
    width: 170px;
    padding-top: 8%;
    padding-left: 48%;
    padding-right: 25%;
    margin-left: auto;
    margin-right: auto;
}

#slider>* {
    scroll-snap-align: middle;
}

#card_temps {
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cardIcon {
    max-width: 50%;
}

.card {
    color: white;
    font-size: 58%;
    margin-left: 0.1%;
    border-radius: 16px;
    width: 160px;
    background-color: rgba(21, 21, 21, 0.71);
    text-align: center;
    border: 4px;
    border-color: #ffffff00;
    border-style: solid;
    scroll-snap-align: center;
}

#img_temp,
.cardIcon {
    filter: invert();
}

@keyframes card_hover {
    to {
        border: 4px;
        border-color: #a3d8e8;
        border-style: solid;
    }
}

.card:hover {
    animation-name: card_hover;
    animation-fill-mode: forwards;
}

#source-div {
    display: flex;
    justify-content: center;
}

#source {
    font-size: small;
    position: fixed;
    bottom: 5px;
    color: white;
}

#arrow {
    width: 40px;
}